/*
Gastric Bypass Train - Sam Cowan, Anna Fang, Sadi Nirloy
k14: bar-and-text
SoftDev
19-10-2022
time spent: 1 hr
*/
h2{
        display: inline-block;
        margin-left: 150px;
}
footer{
        text-align: right;
        color: #D4D4D4;
}
.everything {
  background: gray
}

.bar-and-text{
  display: flex;
}
